
body {
    margin: 0;
    font-family: Optima;
    background: #f9f9f9;
}

article.about {
    margin-top: 140px;
}

body * {
    box-sizing: border-box;
}

body > img {
    position: fixed;
    right: 0;
    z-index: -1;
    top: 0;
}

.post a {
    text-decoration: none;
    margin-right: 1em;
}

body > section {
    width: 80%;
    font-size: 16px;
    line-height: 2em;
    margin: 0 auto;
}

header {
    font-size: 30px;
    line-height: 4em;
    padding-top: 70px;
}

body > nav {
    background: #222;
    height: 50px;
    color: #00d8ff;
    line-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 4em;
}

body > nav a {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

body > nav a:hover {
    color: #fafafa;
}